.background{
    /* background-image: url('../assets/images/header.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: purple; */
    background-image: url("../assets/images/test.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: min-content;
    /* box-shadow: 0 0 16px 16px black inset;  */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding:100px 20px;
}
.about_p p{
margin-bottom: 20px;
}
.about_p{
    margin-bottom: 200px;
}
#heading1, #heading2{
display: block;
justify-self: center;
font-family: 'Fredoka', sans-serif;
font-size: 1.5rem;
}
.technical{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
.skills{
    text-align: center;
    margin-bottom: 200px;
}

.technical table i{
    font-size:2rem;
}
.technical table td{
    border:solid 10px transparent;
}
.flexI{
    display: block;
}
/* .flex{
    display: flex;
    justify-content: center;
    align-items: center;
} */
#disclaimer{
    margin-top: 20px;
    display: block;
}
.u{
    display: none;
}
@media only screen and (max-width: 1000px){
	.background{
        grid-template-columns: 1fr;
        height: 200vh;
    }
    #heading2{
        display: none;
    }
    .u{
        display: block;
        font-family: 'Fredoka', sans-serif;
font-size: 1.5rem;
margin-bottom: 10px;

    }
}