.heading{
    background-image: url(../assets/images/uno.webp);
    height: min-content;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px 0;
}
.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading div a{
    text-decoration: none;
    color: rgb(245, 222, 179);
    font-size: 1.3rem;
    font-family: 'Fredoka', sans-serif;
    transition: all 0.2s;
}

.heading div a:hover {
    background:#111;
  color:rgb(148, 24, 24);
  text-shadow:1px 1px 10px #fff, 1px 1px 10px rgb(223, 69, 69);
  }
